/* body {
    overflow: hidden;
} */

.welcome {
    position: absolute;
    left:   10%;
    margin: 7em -244px;
    animation: slide 4s 1;
}

@keyframes slide {
    from {
        bottom: 150%;
    }

    to {
        bottom: 0%;
    }
}